* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 4rem;
    margin-right: 4rem;
}
.logo {
    color: white;
}
.nav-items > a {
    text-decoration: none;
    margin-left: 15px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.nav-items > button {
    margin-left: 15px;
    background-color: rgb(199, 96, 199);
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.hero-section {
    background-image: url(mac.png);
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text-section {
    color: white;
    margin-left: 4rem;
    margin-top: 4rem;
}
.hero-text-section>h1 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}
.hero-text-section>p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
}
.hero-text-section>button {
  /*   margin-left: 15px; */
    background-color: rgb(199, 96, 199);
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.job-offers {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
.job-offers>h1 {
    font-weight: 700;
    font-size: 30px;
}
.job-offers > a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
    font-weight: 700;
}

.job-section {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10vh;
}
.job {
    width: 380px;
    border-right: 1px solid gray;
    padding-right: 10px;
}
.job-section .job:nth-child(3) {   /*woow*/
    border-right: none;
}
.job-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}
.job-location {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.job-location > p {
    color: gray;
    margin-left: 5px;
    font-weight: 600;

}
.job-description > p {
    color: gray;
    font-weight: 600;
}